services:
  media_manager:
    build: .
    container_name: media_manager
    ports:
      - $PORT:$PORT
    image: lucas42/lucos_media_manager
    restart: always
    environment:
      - KEY_LUCOS_MEDIA_METADATA_API
      - MEDIA_API=https://media-api.l42.eu
      - CLIENT_KEYS
      - STATE_DIR=/web/state
      - LOGANNE_ENDPOINT
      - PORT
    volumes:
      - stateFile:/web/state

volumes:
  stateFile: