version: 2.1

jobs:
  test:
    docker:
      - image: cimg/openjdk:25.0
    steps:
      - checkout
      - run:
          name: Run Tests
          command: mvn clean test
      - store_artifacts:
          path: target/site/jacoco

orbs:
  lucos: lucos/deploy@0
workflows:
  version: 2
  build-deploy:
    jobs:
      - test
      - lucos/build-amd64
      - lucos/deploy-avalon:
          serial-group: << pipeline.project.slug >>/deploy-avalon
          requires:
            - test
            - lucos/build-amd64
          filters:
            branches:
              only:
                - main